# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    paths-ignore:
        - '**.md'
    branches: [ master ]
  pull_request:
    branches: [ master ]
    
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: windows-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
      
      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v1.1
        
      - name: Setup NuGet
        uses: NuGet/setup-nuget@v1.0.6
        
      - name: Restore NuGet packages
        run: nuget restore NETReactorSlayer.sln
        
      - name: Build the Solution
        run: msbuild NETReactorSlayer.sln
        
      - name: Archive
        uses: TheDoctor0/zip-release@0.6.2
        with:
          type: 'zip'
          filename: 'NETReactorSlayer.zip'
          path: 'D:\a\NETReactorSlayer\NETReactorSlayer\Debug\*'
        
      - name: Upload
        uses: actions/upload-artifact@v2
        with:
          name: NETReactorSlayer
          path: NETReactorSlayer.zip
          if-no-files-found: error
